<ion-header>
  <ion-toolbar>
    <ion-title>Calories Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" share="round" color="success" (click)="calculate()">Calculate</ion-button>
  <ion-list lines="none">
 

  <ion-item>
    <ion-label position="stacked" class="testclass">Your Weight</ion-label>
    <ion-input placeholder="Enter your weight"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="testclass">Backpack Weight</ion-label>
    <ion-input placeholder="Enter Backpack Weight"></ion-input>
  </ion-item> 
  <ion-radio-group value="lbs">
    <ion-list-header>
      <ion-label>Weight Measurement</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>lbs</ion-label>
      <ion-radio slot="start" color="success" value="lbs"></ion-radio>
    </ion-item> 
    <ion-item>
      <ion-label>kgs</ion-label>
      <ion-radio slot="start" color="tertiary" value="kgs"></ion-radio>
    </ion-item> 
  </ion-radio-group> 
  <ion-item>
    <ion-label position="stacked" class="testclass">Hiking Mins</ion-label>
    <ion-input placeholder="Enter hiking minutes"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked" class="testclass">Distance</ion-label>
    <ion-input placeholder="Enter distance"></ion-input>
  </ion-item> 
  </ion-list>
  <ion-radio-group value="Miles">
    <ion-list-header>
      <ion-label>Distance Measurement</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Miles</ion-label>
      <ion-radio slot="start" color="success" value="Miles"></ion-radio>
    </ion-item> 
    <ion-item>
      <ion-label>Kilometers</ion-label>
      <ion-radio slot="start" color="tertiary" value="Kilometers"></ion-radio>
    </ion-item> 
  </ion-radio-group> 
  <ion-radio-group value="cross">
    <ion-list-header>
      <ion-label>Types of Hike</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Cross Country</ion-label>
      <ion-radio slot="start" color="success" value="cross"></ion-radio>
    </ion-item> 
    <ion-item>
      <ion-label>Uphill & Downhill</ion-label>
      <ion-radio slot="start" color="tertiary" value="updown"></ion-radio>
    </ion-item> 
    <ion-item>
      <ion-label>Uphill only</ion-label>
      <ion-radio slot="start" color="success" value="uponly"></ion-radio>
    </ion-item> 
    <ion-item>
      <ion-label>Downhill only</ion-label>
      <ion-radio slot="start" color="tertiary" value="downonly"></ion-radio>
    </ion-item> 
  </ion-radio-group> 
  

  

</ion-content>
