  input#uploadBtn{
    // position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

.image-upload{
    height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20%;
}

.header-color{
  --color: #ffffff;
  --background: #cf3c4f;
}