<ion-header>
  <ion-toolbar  class="header-color" >
    <ion-title  > Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button menu="setting" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id='hotspots' [scrollEvents]="true"> 
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewHikingPlace()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Level: Easy</ion-card-subtitle>
    <ion-card-title>The Causeway Coat</ion-card-title>
  </ion-card-header> 
  <ion-card-content>
    <ion-list>
    <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/TheCausewayCoast.jpg">
    </ion-thumbnail>
    <ion-label> 
      <ion-text color="danger">
        <h3> Distance: 4.5 miles</h3>
      </ion-text> 
      <ion-text color="primary">
        <h3> Starts: Giant's Causeway </h3>
      </ion-text> 
      <ion-text color="success">
        <h3> Ends: Dunseverick Castle</h3>
      </ion-text> 
    </ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>


<ion-content id='hotspots' [scrollEvents]="true"> 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Level: Easy</ion-card-subtitle>
      <ion-card-title>The Causeway Coat</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-list>
      <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/TheCausewayCoast.jpg">
      </ion-thumbnail>
      <ion-label> 
        <ion-text color="danger">
          <h3> Distance: 4.5 miles</h3>
        </ion-text> 
        <ion-text color="primary">
          <h3> Starts: Giant's Causeway </h3>
        </ion-text> 
        <ion-text color="success">
          <h3> Ends: Dunseverick Castle</h3>
        </ion-text> 
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-list>
    </ion-card-content>
  </ion-card>
 
</ion-content>

