<ion-header>
  <ion-toolbar class="header-color">
    <ion-title color="light" size="small">HOME</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id='hotspots' [scrollEvents]="true">
  <ion-list>
    <ion-list-header color="secondary" lines="full">
      <h3>Popular Hiking spots</h3>
    </ion-list-header>

    <ion-item-divider>
      <ion-label> 
      </ion-label>
    </ion-item-divider>

    <ion-item>   
        <img src="assets/images/TheCausewayCoast.jpg">       
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <ion-text color="warning">
          <h2>The Causeway Coat </h2>
        </ion-text>
        <ion-text color="secondary">
          <h3>  Level: Easy </h3>
        </ion-text>
        <ion-text color="danger">
          <h3>   Distance: 4.5 miles</h3>
        </ion-text>
        
        <ion-text color="primary">
          <h3> Starts: Giant's Causeway </h3>
        </ion-text>
        
        <ion-text color="success">
          <h3>  Ends: Dunseverick Castle</h3>
        </ion-text>  
       
      </ion-label>
    </ion-item-divider>

    <ion-item>   
      <img src="assets/images/GlenariffForest.jpg">       
  </ion-item>

  <ion-item-divider>
    <ion-label>
      <ion-text color="warning">
        <h2>Glenariff Forest Park Scenic Trail, Co Antrim </h2>
      </ion-text>
      <ion-text color="secondary">
        <h3>  Level: Moderate </h3>
      </ion-text>
      <ion-text color="danger">
        <h3>   Distance: 6 miles</h3>
      </ion-text>
      
      <ion-text color="primary">
        <h3> Starts/Ends: Visitors centre at Glenariff Forest Park </h3>
      </ion-text> 
     
    </ion-label>
  </ion-item-divider>

  <ion-item>   
    <img src="assets/images/CuilcaghLegnabrockyTrail.jpg">       
</ion-item>

<ion-item-divider>
  <ion-label>
    <ion-text color="warning">
      <h2>Cuilcagh Legnabrocky Trail (‘Stairway to Heaven’), Co Fermanagh </h2>
    </ion-text>
    <ion-text color="secondary">
      <h3>  Level: Easy-moderate </h3>
    </ion-text>
    <ion-text color="danger">
      <h3>   Distance: 4.5 miles</h3>
    </ion-text>
    
    <ion-text color="primary">
      <h3> Starts/Ends: Cuilcagh Mountain Park car park</h3>
    </ion-text>
     
   
  </ion-label>
</ion-item-divider>

<ion-item>   
  <img src="assets/images/carrantuohill.jpg">       
</ion-item>

<ion-item-divider>
  <ion-label>
    <ion-text color="warning">
      <h2>The Causeway Coat </h2>
    </ion-text>
    <ion-text color="secondary">
      <h3>  Level: Easy </h3>
    </ion-text>
    <ion-text color="danger">
      <h3>   Distance: 4.5 miles</h3>
    </ion-text>
    
    <ion-text color="primary">
      <h3> Starts: Giant's Causeway </h3>
    </ion-text>
    
    <ion-text color="success">
      <h3>  Ends: Dunseverick Castle</h3>
    </ion-text>  
   
  </ion-label>
</ion-item-divider>

<ion-item>   
  <img src="assets/images/SlieveGullion.jpg">       
</ion-item>
 
<ion-item-divider>
  <ion-label>
    <ion-text color="warning">
      <h2>Carrauntoohil Hike, Co Kerry      </h2>
    </ion-text>
    <ion-text color="secondary">
      <h3>  Level: Hard </h3>
    </ion-text>
    <ion-text color="danger">
      <h3>   Distance: 7.5 miles</h3>
    </ion-text>
    
    <ion-text color="primary">
      <h3> Starts/Ends: Cronins Yard </h3>
    </ion-text>
      
   
  </ion-label>
</ion-item-divider>
 
  </ion-list>
</ion-content>

<ion-split-pane contentId="content">
  <ion-menu contentId="content"  menuId="first">
  
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>
                Menu 1
            </ion-title>  
        </ion-toolbar>  
    </ion-header>  
    <ion-content>
      <ion-list>
          <ion-menu-toggle auto-hide="false" menu="first">
              <ion-item routerLink="news" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  Events 
                </ion-label>
              </ion-item>
              <ion-item routerLink="notifications" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  News 
                </ion-label>
              </ion-item> 
              <ion-item routerLink="messages" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  My Favourites 
                </ion-label>
              </ion-item>     
              <ion-item routerLink="messages" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  Planned Hikings 
                </ion-label>
              </ion-item>    
              <ion-item routerLink="messages" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  Calories Calculator
                </ion-label>
              </ion-item>  
              <ion-item routerLink="messages" routerDirection="root" routerLinkActive="active-item">
                <ion-label>
                  Covid-19 
                </ion-label>
              </ion-item>      
          </ion-menu-toggle>
      </ion-list>  
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="content">
  
  </ion-router-outlet>
  
  </ion-split-pane>

  
  