ion-title.large-title {
    color: purple;
    font-size: 30px;
  }

  .img{
    width: 50px !important;
    height: 50px !important;
    border-radius: 20% !important;
    overflow: hidden !important; 
  }

   