
<ion-slides pager={true} options={slideOpts}>
  <ion-slide> 
    <app-logo></app-logo>  
    <p>Register and Login</p>
    <ion-button color="primary"  (click)="navigateToHome()" >   Login  </ion-button>
    <ion-button color="secondary">Register</ion-button> 
  </ion-slide>
  <ion-slide>
    <img src='assets/images/calories.jpg' 
        style="width: 380px; height: 280px;"
        alt='Ireland Hiking'/>
    <h2>Calories</h2>
    <p>Built in Calories Burnt Calculator</p>
    <ion-button color="primary">  Login  </ion-button>
    <ion-button color="secondary">Register</ion-button> 
  </ion-slide>
  <ion-slide>
    <img src='assets/images/places.jpg' 
        style="width: 380px; height: 280px;"
        alt='Ireland Hiking'/>
    <h2>Places</h2>
    <p>Explore Places</p>
    <ion-button color="primary">  Login  </ion-button>
    <ion-button color="secondary">Register</ion-button> 
  </ion-slide>
</ion-slides>