<ion-header>
  <ion-toolbar color="red">
  <ion-title>Login</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <img src="assets/images/logo.jpg" class="smallLogo" />
  <h1>Sign In</h1>
 
  <ion-list>
    
    <ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    
  <ion-item lines='none'>
  <a routerLink='/signup'>Create Account</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="success" (click)="validateLogin()">Login</ion-button>
 
  </ion-content>